<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%-include('include',{text:'hello'})%>
    <%-include('func',{})%>
    
  </body>
</html>



<script type="text/javascript" src="/socket.io/socket.io.js"></script>
var socket=io.connect();
